extends layout

block content
  h1= title
  p welcome back user
  ul
    li
      a(href='/admin/new-blog') create a new post
    li
      a(href='/admin/blog') show all post
    li
      a(href='/admin/profile') profile


