doctype html
html
  head
    title Portal | #{title}
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous')
    script(src='https://cdn.tiny.cloud/1/oyr9pw36qmmdnvh42qsnx4zbj6bjygcl9ipcwjbe19wnchak/tinymce/5/tinymce.min.js' referrerpolicy='origin')
    script.
      tinymce.init({
        selector: '#blogBody',
        height: 600,
        plugins: [
          'emoticons image paste link media table imagetools codesample save'],
        browser_spellcheck: true,
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | save'
      })

  body
    nav(class='navbar fixed-top navbar-dark bg-primary')
      a(href='/admin' class='navbar-brand ms-3 p-0') Portal
    block content
