* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blogTitleInput {
  display: block;
  width: 100%;
}

.blogBodyText {
  width: 100%;
}

.form-container {
  max-width: 800px;
  min-width: 400px;
}

.blogLabel {
  display: block;
  font-size: 18px;
  margin-top: 10px;

}